<div
  class="container d-flex justify-content-center align-items-center vh-100 w-75"
>
  <div class="w-50 p-3 bg-white rounded">
    <h2 class="text-center">Se connecter</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Entrer votre nom d'utilisateur"
          formControlName="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Entrer votre mot de passe"
          formControlName="password"
          required
        />
      </div>
      <div class="form-group">
        <button
          [disabled]="loginForm.invalid || isLoading"
          type="submit"
          class="btn btn-primary btn-login w-100"
        >
          <span *ngIf="isLoading" class="spinner-border"></span
          ><span [ngClass]="isLoading ? 'hidden' : ''">&nbsp;Connexion</span>
        </button>
      </div>
    </form>
  </div>
</div>
