<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Participants</h1>
</div>
<div class="card">
  <div class="card-header" style="background-color: #fff">
    <h4 class="card-title" style="margin-top: 20px">{{ title }}</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="createParticipant()">
      <div
        class="group"
      >
        <div class="form-group">
          <label for="firstname">Nom:</label>
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="firstname"
          />
          <input
            type="hidden"
            class="form-control border-bottom"
            formControlName="id"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Prénom:</label>
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="lastname"
          />
        </div>
        <div class="form-group">
            <label for="activity">Métier:</label>
            <input
              type="text"
              class="form-control border-bottom"
              formControlName="activity"
            />
          </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control border-bottom"
          formControlName="email"
        />
        <div
          class="text-danger"
          *ngIf="
            userForm.get('email')!.hasError('email') &&
            userForm.get('email')!.touched
          "
        >
          Veuillez entrer une adresse email valide.
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Numéro de téléphone:</label>
        <input
          type="text"
          class="form-control border-bottom"
          formControlName="phone"
        />
      </div>
      <div class="form-group">
        <label for="address">Votre adresse:</label>
        <input
          type="text"
          class="form-control border-bottom"
          formControlName="address"
        />
      </div>
      <div
        class="group"
      >
        <div>
          Sexe:
          <label>
            <input type="radio" formControlName="gender" value="M" required /> M
          </label>
          <label>
            <input type="radio" formControlName="gender" value="F" required /> F
          </label>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        style="float: right; margin-right: 20px"
      >
        <span *ngIf="isLoading" class="spinner-border"></span>
        <span [ngClass]="isLoading ? 'hidden' : ''"
          ><span [ngClass]="isFormEdit ? 'hidden' : ''">Ajouter</span
          ><span [ngClass]="!isFormEdit ? 'hidden' : ''">Modifier</span></span
        >
      </button>
      <button
        class="btn btn-secondary"
        style="float: right; margin-right: 20px"
        (click)="cancel()"
      >
        Annuler
      </button>
    </form>
  </div>
</div>
