<h1 class="h2 text-primary mt-3">Thèmes</h1>
<hr class="lead mt-0" />
<div class="row tab-content">
  <div
    id="list-view"
    class="tab-pane fade active show col-lg-12"
    role="tabpanel"
  >
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4 class="lead">
          {{
            themesAllReserved.length > 0 || themesAll.length > 0
              ? "Liste des thèmes"
              : "Vous n'avez aucun thème pour le l'instant"
          }}
        </h4>
        <button
          type="button"
          class="btn btn-sm btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#themeModal"
        >
          Ajouter un thème
        </button>
      </div>
      <div
        class="modal fade"
        id="themeModal"
        data-bs-backdrop="static"
        tabindex="-1"
        aria-labelledby="themeModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Ajouter un thème</h5>
            </div>
            <form [formGroup]="themeForm">
              <div class="modal-body">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control input-default"
                    placeholder="Intitulé *"
                    formControlName="themeTitle"
                    required
                  />
                </div>
                <div class="mb-3">
                  <textarea
                    class="form-control input-rounded"
                    name=""
                    id=""
                    cols="60"
                    rows="5"
                    placeholder="Description *"
                    formControlName="description"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  [disabled]="themeForm.invalid || isFormThemeLoading"
                  class="btn btn-primary"
                  (click)="saveTheme()"
                >
                  <span *ngIf="isFormThemeLoading" class="spinner-border"></span
                  ><span [ngClass]="isFormThemeLoading ? 'hidden' : ''"
                    >&nbsp;Enregistrer</span
                  >
                </button>
                <button
                  type="reset"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  &nbsp;Annuler
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="card-body"
        *ngIf="themesAllReserved.length > 0 || themesAll.length > 0"
      >
        <div class="row mb-3 justify-content-between">
          <div class="col-md-3">
            <form style="width: 100%" [formGroup]="filterForm">
              <div class="d-flex align-items-baseline">
                <label for="entries" class="form-label me-2">Nombre</label>
                <select
                  formControlName="filter"
                  class="form-select-sm"
                  id="entries"
                >
                  <option value="5">5</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <form
              [formGroup]="searchForm"
              style="position: relative; width: 350px; float: right"
            >
              <i class="fas fa-search"></i>
              <input
                formControlName="keyWord"
                (input)="searchByName()"
                class="form-control"
                type="search"
                placeholder="Recherche"
                aria-label="Search"
                style="padding-left: 30px"
              />
            </form>
          </div>
        </div>
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead style="--bs-table-bg: #576ea7">
              <tr>
                <th scope="col" class="text-white">Intitulé</th>
                <th scope="col" class="text-white">Description</th>
                <th scope="col" class="text-white">Date création</th>
                <th scope="col" class="text-center" class="text-white">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let firstTheme of themesAll | paginate: {
                                    itemsPerPage: filterForm.value.filter,
                                    currentPage: page,
                                    }; "
              >
                <th scope="row">{{ firstTheme.themeTitle }}</th>
                <td>{{ getSubString(firstTheme.description) }}</td>
                <td>{{ firstTheme.creationDate | date : "dd-MM-yyyy" }}</td>
                <td class="text-center" style="cursor: pointer">
                  <i
                    class="fa fa-pencil text-primary"
                    (click)="themeEdit(firstTheme.id)"
                    data-bs-toggle="modal"
                    data-bs-target="#themeUpdateModal"
                    title="Modifier"
                  ></i>
                  <i
                    class="fa fa-trash text-danger mx-2"
                    title="Supprimer"
                    (click)="themeDelete(firstTheme.id)"
                  ></i>
                  <i
                    class="fa fa-info text-info"
                    title="Détail"
                    (click)="themeDetail(firstTheme.id)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <p class="m-0">
              Affichage de {{ filterForm.value.filter }} entrées sur
              {{ themesAll.length }}
            </p>
          </div>

          <div class="col-md-2"></div>
          <div class="col-md-4 text-end">
            <pagination-controls
              (pageChange)="handlePageChange($event)"
              (pageBoundsCorrection)="handlePageChange($event)"
              previousLabel="Précédent"
              nextLabel="Suivant"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="Vous êtes à la page"
            ></pagination-controls>
          </div>
          <div
            class="modal fade"
            id="themeUpdateModal"
            data-bs-backdrop="static"
            tabindex="-1"
            aria-labelledby="themeUpdateModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modifier</h5>
                </div>
                <form [formGroup]="themeUpdateForm">
                  <div class="modal-body">
                    <div class="mb-1">
                      <input
                        type="text"
                        class="form-control input-default"
                        placeholder="Intitulé *"
                        formControlName="themeTitle"
                        required
                      />
                    </div>
                    <div class="mb-1">
                      <textarea
                        class="form-control input-rounded"
                        name=""
                        id="description-theme"
                        cols="30"
                        rows="2"
                        placeholder="Description *"
                        formControlName="description"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="submit"
                      class="btn btn-sm btn-primary"
                      (click)="updateTheme()"
                    >
                      <span
                        *ngIf="isFormThemeLoading"
                        class="spinner-border"
                      ></span
                      ><span [ngClass]="isFormThemeLoading ? 'hidden' : ''"
                        >Enregistrer</span
                      >
                    </button>
                    <button
                      type="reset"
                      class="btn btn-sm btn-secondary"
                      class="btn btn-sm btn-light"
                      data-bs-dismiss="modal"
                    >
                      Annuler
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid waiting" *ngIf="isLoading">
        <span class="spinner-border"></span>
      </div>
    </div>
    <div
      class="modal fade"
      id="themeUpdateModal"
      data-bs-backdrop="static"
      tabindex="-1"
      aria-labelledby="themeUpdateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modifier Thème</h5>
          </div>
          <form [formGroup]="themeUpdateForm">
            <div class="modal-body">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control input-default"
                  placeholder="Intitulé *"
                  formControlName="themeTitle"
                  required
                />
                <input
                  type="hidden"
                  class="form-control input-default"
                  formControlName="id"
                  required
                />
                <input
                  type="hidden"
                  class="form-control input-default"
                  formControlName="creationDate"
                  required
                />
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control input-rounded"
                  name=""
                  id=""
                  cols="60"
                  rows="5"
                  placeholder="Description *"
                  formControlName="description"
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="updateTheme()"
              >
                <span *ngIf="isFormThemeLoading" class="spinner-border"></span
                ><span [ngClass]="isFormThemeLoading ? 'hidden' : ''"
                  >&nbsp;Enregistrer</span
                >
              </button>
              <button
                type="reset"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                &nbsp;Annuler
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid waiting" *ngIf="isLoading">
  <span class="spinner-border"></span>
  <div class="card"></div>
</div>
