<h1 class="h2 text-primary mt-3">Infos du thème</h1>
<hr class="lead mt-0" />
<div class="row page-titles mx-0">
  <div class="col-md-12 mb-2">
    <div>
      <h4><span class="lead">Titre:</span> {{ themeDetail.themeTitle }}</h4>
      <h5>
        <span class="lead">Description:</span> {{ themeDetail.description }}
      </h5>
    </div>
  </div>
</div>
<div class="row tab-content">
  <div
    id="list-view"
    class="tab-pane fade active show col-lg-12"
    role="tabpanel"
  >
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Liste des sous-thèmes</h4>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#sousThemeModal"
          style="float: right; margin-top: -40px"
        >
          Joindre un sous-thème
        </button>
        <div
          class="modal fade"
          id="sousThemeModal"
          data-bs-backdrop="static"
          tabindex="-1"
          aria-labelledby="sousThemeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Ajouter un sous-thème</h5>
              </div>
              <form [formGroup]="subThemeForm">
                <div class="modal-body">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control input-default"
                      placeholder="Intitulé *"
                      formControlName="subthemeTitle"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control input-default"
                      value="{{ getSubString(themeDetail.themeTitle) }}"
                      disabled
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <textarea
                      class="form-control input-rounded"
                      name=""
                      id="s-theme-description"
                      cols="60"
                      rows="5"
                      placeholder="Description *"
                      formControlName="description"
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    [disabled]="subThemeForm.invalid || isFormSubThemeLoading"
                    class="btn btn-primary"
                    (click)="saveSubTheme()"
                  >
                    <span
                      *ngIf="isFormSubThemeLoading"
                      class="spinner-border"
                    ></span
                    ><span [ngClass]="isFormSubThemeLoading ? 'hidden' : ''"
                      >&nbsp;Enregistrer</span
                    >
                  </button>
                  <button
                    type="reset"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    &nbsp;Annuler
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="!isLoading">
        <div class="row mb-3">
          <div class="col-md-3 d-flex">
            <label for="entries" class="me-2">Afficher</label>
            <select
              class="form-select form-select-sm me-2"
              id="entries"
              style="height: 38px"
            >
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
            <label for="entries">entrées</label>
          </div>
          <div class="col-md-5">&nbsp;</div>
          <div class="col-md-4">
            <form
              [formGroup]="searchForm"
              style="position: relative; width: 350px; float: right"
            >
              <i class="fas fa-search"></i>
              <input
                formControlName="keyWord"
                (input)="searchByName()"
                class="form-control"
                type="search"
                placeholder="Recherche"
                aria-label="Search"
                style="padding-left: 30px"
              />
            </form>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead style="--bs-table-bg: #576ea7">
              <tr>
                <th scope="col" class="text-white">Intitulé</th>
                <th scope="col" class="text-white">Description</th>
                <th scope="col" class="text-white">Date création</th>
                <th scope="col" class="text-white">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let subThemeFrist of sousThemesAll | paginate: {
                  itemsPerPage: filterForm.value.filter,
                  currentPage: page,
                  };"
              >
                <th scope="row">{{ subThemeFrist.subthemeTitle }}</th>
                <td>{{ getSubString(subThemeFrist.description) }}</td>
                <td>{{ subThemeFrist.creationDate | date : "dd-MM-yyyy" }}</td>
                <td>
                  <a
                    href="javascript:void(0);"
                    (click)="subThemeEdit(subThemeFrist.id)"
                    data-bs-toggle="modal"
                    data-bs-target="#sousThemeUpdateModal"
                    title="Modifier"
                    ><i class="fa fa-pencil text-primary"></i></a
                  >&nbsp;
                  <a
                    href="javascript:void(0);"
                    title="Supprimer"
                    (click)="subThemeDelete(subThemeFrist.id)"
                    ><i class="fa fa-trash text-danger"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <p class="m-0">
              Affichage de {{ filterForm.value.filter }} entrées sur
              {{ sousThemesAll.length }}
            </p>
          </div>

          <div class="col-md-2"></div>
          <div class="col-md-4 text-end">
            <pagination-controls
              (pageChange)="handlePageChange($event)"
              (pageBoundsCorrection)="handlePageChange($event)"
              previousLabel="précédant"
              nextLabel="Suivant"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="Vous êtes à la page"
            ></pagination-controls>
          </div>
          <div
            class="modal fade"
            id="sousThemeUpdateModal"
            data-bs-backdrop="static"
            tabindex="-1"
            aria-labelledby="sousThemeUpdateModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modifier Sous-Thème</h5>
                </div>
                <form [formGroup]="subThemeUpdateForm">
                  <div class="modal-body">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control input-default"
                        placeholder="Intitulé *"
                        formControlName="subthemeTitle"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <textarea
                        class="form-control input-rounded"
                        name=""
                        id=""
                        cols="60"
                        rows="5"
                        placeholder="Description *"
                        formControlName="description"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="submit"
                      [disabled]="
                        subThemeUpdateForm.invalid || isFormSubThemeLoading
                      "
                      class="btn btn-primary"
                      (click)="updateSubTheme()"
                    >
                      <span
                        *ngIf="isFormSubThemeLoading"
                        class="spinner-border"
                      ></span
                      ><span [ngClass]="isFormSubThemeLoading ? 'hidden' : ''"
                        >&nbsp;Enregistrer</span
                      >
                    </button>
                    <button
                      type="reset"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      &nbsp;Annuler
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid waiting" *ngIf="isLoading">
        <span class="spinner-border"></span>
      </div>
    </div>
  </div>
</div>
