<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Sessions</h1>
</div>
<div class="col-lg-12">
  <div class="row tab-content">
    <div
      id="list-view"
      class="tab-pane fade active show col-lg-12"
      role="tabpanel"
    >
      <div class="card">
        <div class="card-header" style="background-color: #fff">
          <div class="d-flex justify-content-between">
            <h4 class="card-title">Liste des sessions</h4>
            <a href="dashboard/sessions/insert" class="btn btn-primary"
              >Nouvelle Session</a
            >
          </div>
          <p class="my-3">
            <a
              (click)="showInterSession()"
              class="link-offset-2 mx-5 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showInter }">Sessions planifiées</span>
            </a>
            <a
              (click)="showIntraSession()"
              class="link-offset-2 mx-5 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showIntra }"
                >Démandes participant</span
              >
            </a>
          </p>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3 d-flex">
              <form style="width: 100%" [formGroup]="filterForm">
                <div class="d-flex align-items-baseline">
                  <label for="entries" class="form-label me-2">Nombre</label>
                  <select
                    formControlName="filter"
                    class="form-select-sm"
                    id="entries"
                  >
                    <option value="5">5</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-4">
              <form
                [formGroup]="searchForm"
                style="position: relative; width: 350px; float: right"
              >
                <i class="fas fa-search"></i>
                <input
                  formControlName="keyWord"
                  (input)="searchByTitle()"
                  class="form-control"
                  type="search"
                  placeholder="Recherche"
                  aria-label="Search"
                  style="padding-left: 30px"
                />
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Sessions Inter -->
            <table *ngIf="showInter" class="table">
              <thead style="--bs-table-bg: #576ea7">
                <tr>
                  <th scope="col" class="text-white">Code</th>
                  <th scope="col" class="text-white">Description</th>
                  <th scope="col" class="text-white">Min participants</th>
                  <th scope="col" class="text-white">Durée (J)</th>
                  <th scope="col" class="text-white">Date</th>
                  <th scope="col" class="text-white">Lieu</th>
                  <th scope="col" class="text-white">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let interSess of interSessions | paginate: {
                  itemsPerPage: filterForm.value.filter,
                  currentPage: page,
                  };"
                >
                  <td>{{ interSess.code }}</td>
                  <td>{{ interSess.description }}</td>
                  <td>{{ interSess.minParticipant }}</td>
                  <td>{{ interSess.duration }}</td>
                  <td>
                    {{ interSess.date | date : "dd-MM-yyyy" }}
                  </td>
                  <td>
                    {{ interSess.lacation }}
                  </td>
                  <td>
                    <span
                      class="text-success"
                      (click)="goToEditInterSess(interSess.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil text-primary"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteSession(interSess.id, 'interSession')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Sessions Intra -->
            <table *ngIf="showIntra" class="table">
              <thead style="--bs-table-bg: #576ea7">
                <tr>
                  <th scope="col" class="text-white">Code</th>
                  <th scope="col" class="text-white">Description</th>
                  <th scope="col" class="text-white">Statut</th>
                  <th scope="col" class="text-white">Durée (J)</th>
                  <th scope="col" class="text-white">Date</th>
                  <th scope="col" class="text-white">Lieu</th>
                  <th scope="col" class="text-white">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let intraSess of intraSessions | paginate: {
                  itemsPerPage: filterForm.value.filter,
                  currentPage: page,
                  };"
                >
                  <td>{{ intraSess.code }}</td>
                  <td>{{ intraSess.description }}</td>
                  <td>{{ intraSess.status }}</td>
                  <td>{{ intraSess.duration }}</td>
                  <td>{{ intraSess.date | date : "dd-MM-yyyy" }}</td>
                  <td>{{ intraSess.lacation }}</td>
                  <td>
                    <span
                      class="text-success"
                      (click)="goToEditIntraSess(intraSess.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil text-primary"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteSession(intraSess.id, 'intraSession')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p class="m-0">
                Affichage de {{ filterForm.value.filter }} entrées sur
                {{
                  showInter
                    ? interSessions.length
                    : showIntra
                    ? intraSessions.length
                    : 0
                }}
              </p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 text-end">
              <pagination-controls
                (pageChange)="handlePageChange($event)"
                (pageBoundsCorrection)="handlePageChange($event)"
                previousLabel="Précédent"
                nextLabel="Suivant"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="Vous êtes à la page"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
