<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Sessions</h1>
</div>
<div class="card">
  <div class="card-header" style="background-color: #fff">
    <h4 class="card-title" style="margin-top: 20px">{{ title }}</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="sessionForm" (ngSubmit)="createParticipant()">
      <div *ngIf="idSession" class="form-group">
        <label for="description">Type:</label>
        <input type="text" id="code" disabled [value]="formVisibility" />
      </div>
      <div *ngIf="!idSession" class="form-group">
        <select
          (change)="updateForm($event)"
          class="form-control border-bottom"
        >
          <option value="" disabled [defaultSelected]="true">
            Sélectionner un type de session
          </option>
          <option value="interSession">InterSession</option>
          <option value="intraSession">IntraSession</option>
        </select>
      </div>
      <div class="group">
        <div class="form-group">
          <label for="code"
            >Code
            <span _ngcontent-ng-c737066944="" class="text-danger"
              >*</span
            ></label
          >
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="code"
          />
          <input
            type="hidden"
            class="form-control border-bottom"
            formControlName="id"
          />
        </div>
        <div class="form-group">
          <label for="description"
            >Description
            <span _ngcontent-ng-c737066944="" class="text-danger"
              >*</span
            ></label
          >
          <textarea
            class="form-control border-bottom"
            formControlName="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="lacation"
            >Lieu
            <span _ngcontent-ng-c737066944="" class="text-danger"
              >*</span
            ></label
          >
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="lacation"
          />
        </div>
        <div class="form-group">
          <label for="date"
            >Date
            <span _ngcontent-ng-c737066944="" class="text-danger"
              >*</span
            ></label
          >
          <input
            type="date"
            class="form-control border-bottom"
            formControlName="date"
          />
        </div>
        <div class="form-group">
          <label for="duration"
            >Durée (J)
            <span _ngcontent-ng-c737066944="" class="text-danger"
              >*</span
            ></label
          >
          <input
            type="number"
            class="form-control border-bottom"
            formControlName="duration"
          />
        </div>
        <div class="form-group">
          <label for="price"
            >Prix(€)
            <span _ngcontent-ng-c737066944="" class="text-danger"
              >*</span
            ></label
          >
          <input
            type="number"
            class="form-control border-bottom"
            formControlName="price"
          />
        </div>
        <!-- <div class="form-group">
          <label for="trainer">Formateur</label>
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="trainer"
          />
        </div>
        <div class="form-group">
          <label for="training">Formation</label>
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="training"
          />
        </div> -->

        <div class="group1" *ngIf="formVisibility === 'interSession'">
          <div class="form-group">
            <label for="minParticipant"
              >Min Participants<span
                _ngcontent-ng-c737066944=""
                class="text-danger"
                >*</span
              ></label
            >
            <input
              type="text"
              class="form-control border-bottom"
              formControlName="minParticipant"
            />
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        style="float: right; margin-right: 20px"
      >
        <span *ngIf="isLoading" class="spinner-border"></span>
        <span [ngClass]="isLoading ? 'hidden' : ''"
          ><span [ngClass]="isFormEdit ? 'hidden' : ''">Ajouter</span
          ><span [ngClass]="!isFormEdit ? 'hidden' : ''">Modifier</span></span
        >
      </button>
      <button
        class="btn btn-secondary"
        style="float: right; margin-right: 20px"
        (click)="cancel()"
      >
        Annuler
      </button>
    </form>
  </div>
</div>
